@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Roboto+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

$color-tertiary-light-button: #8ea8c3ff;
$color-primary: #d5eeff;
$color-primary-light: rgb(255, 255, 255);
$color-text-light: #ffa84e;
$color-secondary-light: #a7dbf3;
$color-secondary-light-sender: #fde1a3;
$color-text-dark: #525252;
$color-text-dark2: rgb(12, 49, 129);

$width-button: 150px;

$RobotoMono : 'Roboto Mono', monospace;
$NotoSansJP : 'Noto Sans JP', sans-serif;

.block__chatPage {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;

    .block__chatPage__sidebar {
        width: 20%;
        height: 100%;
        background-color: #fff;
        /* background: url(../Design/sidebar-03-03.svg); 
        filter: brightness(1.3);  */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;   
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        text-align: left;
        font-family: $RobotoMono;
        border-radius: 0 50px 50px 0;
        border-right: 1px dashed $color-text-light;

        .block__chatPage__sidebar--userbox {
            width: 100%;
            border-bottom: 1px dashed $color-secondary-light ;
            margin-bottom: 30px;
            h2 {
                color: $color-text-dark2;
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 14px;
            }
        }

        @mixin h3-sidebar-style {
            color: $color-text-dark;
            margin-bottom: 10px;
            font-size: 16px;
        }

        @mixin p-sidebar-style {
            color: $color-text-dark2;
            margin-bottom: 10px;
            font-size: 14px;
            font-family: $NotoSansJP;
        }

        .block__chatPage__sidebar--userlist{
            width: 100%;
            border-bottom: 1px dashed $color-secondary-light ;
            margin-bottom: 30px;

            h3 {
                @include h3-sidebar-style();
            }

            p {
                @include p-sidebar-style();
            }   
        }

        .block__chatPage__sidebar--roomlist {
            width: 100%;
            border-bottom: 1px dashed #fff ;
            margin-bottom: 20px;
            position: relative;

            h3{
                @include h3-sidebar-style();
            }

            button {
                background: transparent;
                border:none;
                position: absolute;
                top: 2px;
                right: 0;
                color: $color-text-dark;

                &:hover {
                    cursor: pointer;
                }
            }

            p {
                @include p-sidebar-style();
            }
        }

        .block__chatPage__sidebar--logoutButton {
            position: relative;

            button {
                border: none;
                font-size: 14px;
                background-color: transparent;
                padding-left: 25px;
                color: $color-text-dark;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                    color: darken($color: #000000, $amount: 0)
                }
            }

            .block__chatPage__sidebar--logoutButton--icon {
                position: absolute;
                top: 2px;
                left: 0;
                color: $color-text-dark;
            }
            
        }
    }

    @mixin chatbox-message($align){
        margin: 10px 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        position: relative;
        padding: 10px;
        font-family: $NotoSansJP;
        align-items: $align;
    }

    @mixin message-image {
        width: 35px;
        height: 35px;
        background-color: $color-text-light;
        border-radius: 50%;
        position: absolute;
        top: 0%;
        /* transform: translateY(-50%); */
    }

    @mixin blocktext($background) {
        background-color: $background;
        text-align: left;
        padding: 15px;
        width: 80%;
    }

    @mixin username {
        font-size: 14px;
        font-weight: bold;
        color: $color-text-dark2;
    }

    @mixin text {
        font-size: 14px;
        color: $color-text-dark;
    }

    .block__chatPage__mainbar {
        width: 80%;
        height: 100%;
        background-color: $color-primary-light;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .block__chatPage__mainbar--chatbox {
            width: 100%;
            height: calc(85% - 35px);
            padding: 0px 35px;
            overflow: scroll;
            margin-top: 35px;

            .block__chatPage__mainbar--chatbox--message--incoming{
                @include chatbox-message(flex-start);
          
                .block__chatPage__mainbar--chatbox--message--image {
                    @include message-image();
                }

                .block__chatPage__mainbar--chatbox--message--blockText {
                    margin-left: 45px;
                    @include blocktext($color-secondary-light);
                    border-radius: 0 40px 40px 40px;

                    .block__chatPage__mainbar--chatbox--message--username {
                        padding-left: 20px;
                        @include username();
                    }
    
                    .block__chatPage__mainbar--chatbox--message--text {
                        padding-left: 20px;
                        @include text();
                    }
                }
               
            }

            .block__chatPage__mainbar--chatbox--message--sender{
                @include chatbox-message(flex-end);
          
                .block__chatPage__mainbar--chatbox--message--image {
                    @include message-image();
                }

                .block__chatPage__mainbar--chatbox--message--blockText {
                    margin-right: 45px;
                    @include blocktext($color-secondary-light-sender);
                    border-radius: 40px 0px 40px 40px;
                    
                    .block__chatPage__mainbar--chatbox--message--username {
                        padding-left: 30px;
                        @include username();
                    }
    
                    .block__chatPage__mainbar--chatbox--message--text {
                        padding-left: 30px;
                        @include text();
                    }
                }
               
            }
        }

        .block__chatPage__mainbar--form {
            width: 100%;
            height: calc(15% - 10px);
            margin-bottom: 10px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            padding: 35px 35px 0 35px;

            form {
                width: 95%;
                height: 95%;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;

                input {
                    width: 80%;
                    height: 40px;
                    font-size: 14px;
                    padding-left: 20px;
                }

                button {
                    width: calc(20% - 10px);
                    height: 40px;
                    margin-left: 10px;
                    border: none;
                    background-color: $color-tertiary-light-button;
                    color: $color-primary-light;
                    font-size: 14px;
                }
            }
        }
    }
}