@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Poppins:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:focus {
outline: none;
}

$color-tertiary-light-button: #8ea8c3ff;
$color-primary: #d5eeff;
$color-primary-light: rgb(255, 255, 255);
$color-text-light: #ffa84e;
$color-secondary-light: #a7dbf3;
$color-secondary-light-sender: #fde1a3;
$color-text-dark: #525252;
$color-text-light-grey: #adadad;
$color-text-dark2: rgb(12, 49, 129);
$color-text-online: rgb(173, 230, 227);

$width-button: 150px;

$Poppins : 'Poppins', sans-serif;
$NotoSansJP : 'Noto Sans JP', sans-serif;

@mixin flex-column($justify, $align) {
    display: flex;
    flex-flow: column wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-row($justify, $align) {
    display: flex;
    flex-flow: row wrap;
    justify-content: $justify;
    align-items: $align;
}

.block__chatPage {
    width: 100%;
    height: 100%;
    text-align: center;
    @include flex-row(center, center);
    position: relative;

    .block__chatPage__sidebar {
        width: 20%;
        height: 100%;
        background-color: #fff;
        /* background: url(../Design/sidebar-03-03.svg); 
        filter: brightness(1.3);  */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;   
        @include flex-column(flex-start, flex-start);
        padding: 20px 20px 20px 0px;
        text-align: left;
        font-family: $Poppins;
        z-index: 2;
        -webkit-box-shadow: 25px 6px 39px -26px rgba(133,133,133,1);
        -moz-box-shadow: 25px 6px 39px -26px rgba(133,133,133,1);
        box-shadow: 25px 6px 39px -26px rgba(133,133,133,1);

        .block__chatPage__sidebar--userbox {
            width: 100%;
            border-bottom: 1px dashed $color-secondary-light ;
            margin-left: 20px;

            h2 {
                color: $color-text-dark2;
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 14px;
            }
        }

        @mixin h3-sidebar-style {
            color: $color-text-dark;
            margin-bottom: 10px;
            font-size: 16px;
        }

        @mixin p-sidebar-style {
            color: $color-text-dark;
            margin-bottom: 10px;
            font-size: 14px;
            font-family: $NotoSansJP;
            margin-left: 20px;
        }

        @mixin box-dot($dot-color) {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $dot-color;
            position: absolute;
            top: 0px; 
        }

        .block__chatPage__sidebar--userlist{
            width: 100%;
            margin-bottom: 30px;
            margin-left: 20px;
            overflow-y: scroll;
            max-height: 43%;
            padding-top: 30px;

            .block__chatPage__sidebar--userlist--box {
                @include flex-row(flex-start, center);
                position: relative;
                padding: 10px 10px 10px 0px;

                .block__chatPage__sidebar--userlist--box--dot {
                    @include box-dot($color-text-light-grey);
                }

                .block__chatPage__sidebar--userlist--box--dot--active {
                    @include box-dot(orange);
                }

                p {
                    @include p-sidebar-style();
                    margin-left: 60px;
                }   
            }

            h3 {
                @include h3-sidebar-style();
            }

            
        }

        .block__chatPage__sidebar--roomlist {
            width: 100%;
            margin-bottom: 20px;
            position: relative;
            margin-left: 20px;

            h3{
                @include h3-sidebar-style();
            }

            button {
                background: transparent;
                border:none;
                position: absolute;
                top: 2px;
                right: 15%;
                color: $color-text-dark;

                &:hover {
                    cursor: pointer;
                }
            }

            .block__chatPage__sidebar--roomlist--roomsButton {
                @include p-sidebar-style();
                position: static;
                display: block;
            }

            .block__chatPage__sidebar--roomlist--roomsButton--active {
                color: $color-text-light;
                margin-bottom: 10px;
                font-size: 14px;
                font-family: $NotoSansJP;
                margin-left: 20px;
                position: static;
                display: block;
            }
        }

        .block__chatPage__sidebar--logoutButton {
            position: relative;
            margin-left: 20px;

            button {
                border: none;
                font-size: 14px;
                background-color: transparent;
                padding-left: 25px;
                color: $color-text-dark;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                    color: darken($color: #000000, $amount: 0)
                }
            }

            .block__chatPage__sidebar--logoutButton--icon {
                position: absolute;
                top: 2px;
                left: 0;
                color: $color-text-dark;
            }
            
        }
    }

    @mixin chatbox-message($align){
        margin: 10px 0;
        @include flex-column(center, $align);
        position: relative;
        padding: 10px;
        font-family: $NotoSansJP;
    }

    @mixin message-image($bg-color) {
        width: 35px;
        height: 35px;
        background-color: $bg-color;
        border-radius: 50%;
        position: absolute;
        top: 0%;
        /* transform: translateY(-50%); */
    }

    @mixin blocktext($background) {
        background-color: $background;
        text-align: left;
        padding: 15px;
        width: 80%;
    }

    @mixin username {
        font-size: 14px;
        font-weight: bold;
        color: $color-text-dark2;
    }

    @mixin text {
        font-size: 14px;
        color: $color-text-dark;
    }

    .block__chatPage__mainbar {
        width: 80%;
        height: 100%;
        background-color: $color-primary-light;
        @include flex-column(center, center);
        padding: 0 30px;

        .block__chatPage__mainbar--chatbox {
            width: 100%;
            height: calc(85% - 35px);
            padding: 0px 35px;
            overflow: scroll;
            margin-top: 35px;

            .block__chatPage__mainbar--chatbox--message--incoming{
                @include chatbox-message(flex-start);
          
                .block__chatPage__mainbar--chatbox--message--image {
                    @include message-image($color-text-light-grey);
                }

                .block__chatPage__mainbar--chatbox--message--image--active {
                    @include message-image($color-text-light);
                }

                .block__chatPage__mainbar--chatbox--message--blockText {
                    margin-left: 45px;
                    @include blocktext($color-secondary-light);
                    border-radius: 0 40px 40px 40px;

                    .block__chatPage__mainbar--chatbox--message--username {
                        padding-left: 20px;
                        @include username();
                    }
    
                    .block__chatPage__mainbar--chatbox--message--text {
                        padding-left: 20px;
                        @include text();
                    }
                }
               
            }

            .block__chatPage__mainbar--chatbox--message--sender{
                @include chatbox-message(flex-end);
          
                .block__chatPage__mainbar--chatbox--message--image {
                    @include message-image($color-text-light-grey);
                }

                .block__chatPage__mainbar--chatbox--message--image--active {
                    @include message-image($color-text-light);
                }


                .block__chatPage__mainbar--chatbox--message--blockText {
                    margin-right: 45px;
                    @include blocktext($color-secondary-light-sender);
                    border-radius: 40px 0px 40px 40px;
                    
                    .block__chatPage__mainbar--chatbox--message--username {
                        padding-left: 30px;
                        @include username();
                    }
    
                    .block__chatPage__mainbar--chatbox--message--text {
                        padding-left: 30px;
                        @include text();
                    }
                }
               
            }

            .block__chatPage__mainbar--chatbox--message--admin {
                @include chatbox-message(center);

                .block__chatPage__mainbar--chatbox--message--image {
                    display: none;
                }

                .block__chatPage__mainbar--chatbox--message--username {
                    display: none;
                }

                .block__chatPage__mainbar--chatbox--message--blockText {
                    font-size: 11px;
                    background-color: rgb(173, 230, 227);
                    width: 20%;
                    padding: 10px;
                    border-radius: 20px;
                }

                .block__chatPage__mainbar--chatbox--message--text {
                    font-weight: bold;
                    color: $color-text-dark;
                }
            }
        }

        .block__chatPage__mainbar--form {
            width: 100%;
            height: calc(15% - 10px);
            margin-bottom: 10px;
            @include flex-row(center, center);
            padding: 35px 35px 0 35px;

            form {
                width: 95%;
                height: 95%;
                @include flex-row(flex-start, center);

                input {
                    width: 80%;
                    height: 40px;
                    font-size: 14px;
                    padding-left: 20px;
                }

                button {
                    width: calc(20% - 10px);
                    height: 40px;
                    margin-left: 10px;
                    border: none;
                    background-color: $color-tertiary-light-button;
                    color: $color-primary-light;
                    font-size: 14px;
                }
            }
        }
    }
}