* {
    margin: 0;
    padding: 0;
   
  }
  
$color-primary: #ffc400;
$color-secondary: #f16529;
$color-tertiary: #b83b5e;
$color-text-dark: #333;
$color-text-light: #eee;

$width-button: 150px;

.block__loginPage {
    width: 50%;
    max-width: 500px;
    height: 35%;
    max-height: 450px;
    background: rgb(16,132,192);
    background: linear-gradient(260deg, rgba(16,132,192,1) 27%, rgba(16,172,169,1) 100%);
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 30px 60px 0px rgba(0,0,0,0.2);
}

.block__loginPage--form {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    .block__loginPage--form-top {
        margin-bottom: 30px;
        color: $color-text-light;
    }

    .block__loginPage--form-bottom {
        margin-bottom: 20px;
        width: 100%;

        .block__loginPage--input-box {
            width: calc(70% - 20px);
            height: 35px;
            padding-left: 20px;
            border-radius: 30px;
            border: none;
        }
    }

    .block__loginPage--login-button {
        width: $width-button;
        height: 30px;
        border: none;
        border-radius: 10px;
    }
}